<button @onclick=onclick class="ui-button @Type">@ChildContent</button>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public EventCallback<MouseEventArgs> onclick { get; set; }

    [Parameter]
    public AppButtonType Type {get;set;} = AppButtonType.Primary;
}
