doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  title Privacy Policy
  style.
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 1em;
    }

strong Privacy Policy

p
  | Liam Morrow built the LiftLog app as an open source application. This Service is provided by Liam Morrow at no cost
  | and is intended for use as is.

p
  | This page informs users of my policies regarding the collection, use, and disclosure of personal information when
  | using the LiftLog Service.

p
  | By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.
  | Personal information is used solely to provide and improve the Service and is not shared except as described here.

p
  strong Information Collection and Use

p
  | For a better experience, I may ask you to provide certain personally identifiable information, such as your name
  | and workout data. Workout data is stored on your device and, if you choose to enable syncing or sharing, on
  | servers solely to facilitate those features.

p
  | Workout data is encrypted end to end on the client. Encryption keys are generated and held only on your device.
  | LiftLog servers cannot read or access your workout content.

p
  | Only you and the people you explicitly choose to share workouts with can decrypt and view your workout data.

div
  p
    | The app uses third-party services that may collect information used to identify you.

  p
    | Links to the privacy policies of third-party service providers used by the app:

  ul
    li
      a(href='https://www.google.com/policies/privacy/' target='_blank' rel='noopener noreferrer') Google Play Services
    li
      a(href='https://sentry.io/privacy/' target='_blank' rel='noopener noreferrer') Sentry
    li
      a(href='https://www.revenuecat.com/privacy/' target='_blank' rel='noopener noreferrer') RevenueCat

p
  strong Log Data

p
  | In the event of an app error, I collect diagnostic information through third-party services. This log data may
  | include your device’s Internet Protocol (IP) address, device name, operating system version, app configuration,
  | and the time and date of use.

p
  | Log data does not include workout content, encryption keys, or any end-to-end encrypted user data.

p
  strong Pro Version – AI Chat Planner

p
  | The Pro version of LiftLog includes an AI Chat Planner feature. When you use this feature, the messages you send
  | and relevant workout context you choose to include are transmitted to OpenAI to generate responses.

p
  | Data sent to the AI Chat Planner is not end-to-end encrypted, as it must be readable by OpenAI in order to
  | generate a response. No data is sent to OpenAI unless you actively use this feature.

p
  | OpenAI is not involved in any other aspect of LiftLog and does not receive access to your end-to-end encrypted
  | workout data outside of the AI Chat Planner feature.

p
  | Link to OpenAI’s privacy policy:

ul
  li
    a(href='https://openai.com/policies/privacy-policy/' target='_blank' rel='noopener noreferrer') OpenAI Privacy Policy

p
  strong Cookies

p
  | LiftLog does not use cookies directly. However, third-party libraries and services used by the app may use similar
  | technologies to provide functionality, analytics, or error reporting.

p
  strong Service Providers

p
  | I may employ third-party companies and individuals for the following purposes:

ul
  li To facilitate the Service
  li To provide the Service on my behalf
  li To perform Service-related services
  li To assist in analyzing how the Service is used

p
  | These third parties may have access to personal information only to perform tasks on my behalf and are obligated
  | not to disclose or use it for any other purpose.

p
  strong Data Retention

p
  | Personal information is retained only for as long as necessary to provide the Service and fulfill the purposes
  | outlined in this Privacy Policy.

p
  strong Your Rights

p
  | You may request access to or deletion of your personal information by contacting me at the email address listed
  | below.

p
  strong Security

p
  | I value your trust in providing personal information and strive to use commercially acceptable means to protect
  | it. However, no method of transmission over the internet or electronic storage is completely secure, and absolute
  | security cannot be guaranteed.

p
  strong Links to Other Sites

p
  | The Service may contain links to external sites. I am not responsible for the content or privacy practices of
  | these third-party sites and encourage you to review their privacy policies.

p
  strong Children’s Privacy

p
  | The Service does not address anyone under the age of 13. I do not knowingly collect personal information from
  | children under 13. If such information is discovered, it will be deleted promptly.

p
  strong Changes to This Privacy Policy

p
  | I may update this Privacy Policy from time to time. Changes will be posted on this page, and you are advised to
  | review it periodically.

p This policy is effective as of 2025-12-17

p
  strong Contact Us

p
  | If you have any questions or suggestions about this Privacy Policy, contact me at
  a(href='mailto:support@liftlog.online') support@liftlog.online
