@using Fluxor
@using LiftLog.Ui.Store.App
@inherits Fluxor.Blazor.Web.Components.FluxorLayout
@inject IJSRuntime Js
@inject IState<AppState> AppState

<div class="h-full page bg-surface">
    <section class="relative h-full content">
        <div class="grid grid-cols-1 h-full grid-rows-[3rem_8fr_min-content] transition-all">
            <div class="z-10 flex items-center px-5 overflow-visible bg-surface-container @_topNavSizeClass transition-all ease-out">
                <span class="m-0 text-on-surface ">@AppState.Value.Title</span>
            </div>
            <div @ref="_contentElementRef" class="px-2 pt-12 pb-2 overflow-auto bg-surface" @onscroll="OnContentScroll" style="-webkit-overflow-scrolling: touch;">
                @Body
            </div>
            <HomeNav></HomeNav>
        </div>
    </section>
</div>

<HeadContent>
    <title>@AppState.Value.Title</title>
</HeadContent>

@code {

    private ElementReference _contentElementRef;

    private string _topNavSizeClass = "py-11 text-3xl";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
#if DEBUG
        if (firstRender)
        {
            await Js.InvokeAsync<IJSObjectReference>("import", "/_content/LiftLog.Ui/load-tailwind.js");
        }
#else
        await base.OnAfterRenderAsync(firstRender);
#endif
    }

    private async void OnContentScroll()
    {
        var scrollTop = await Js.InvokeAsync<double>("AppUtils.getScrollTop", _contentElementRef);
        _topNavSizeClass = scrollTop switch {
            // make it smaller after scrolling past 3rem (48px)
            (<=48) => "py-11 text-3xl",
            _ => "py-4 text-xl"
            };
        await InvokeAsync(StateHasChanged);
    }

}
