@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="page h-full">
    <section class="content h-full relative">
        @Body
    </section>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        #if DEBUG
        if (firstRender)
        {
            await js.InvokeAsync<IJSObjectReference>("import", "/_content/LiftLog.Ui/load-tailwind.js");
        }
        #else
        await base.OnAfterRenderAsync(firstRender);
        #endif
    }
}
