@page "/history"
@using Fluxor
@using LiftLog.Ui.Services
@using LiftLog.Ui.Store.App
@using LiftLog.Ui.Store.CurrentSession
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject SessionService SessionService
@inject NavigationManager NavigationManager
@inject IState<CurrentSessionState> CurrentSessionState
@inject IDispatcher Dispatcher

<CardList Items="_latestSessions" OnClick="HandleSessionClick">
    <SplitCardControl>
        <MainContent>
            <SessionSummary IsFilled="true" Session="context"></SessionSummary>
        </MainContent>

        <SideContent>
            <IconButton Type="IconButtonType.FilledTonal" OnClick=@(() => {_selectedSession = context; _deleteDialog?.Open();}) Icon="delete" />
        </SideContent>
    </SplitCardControl>
</CardList>

<Dialog @ref="_deleteDialog">
    <span slot="headline">Delete Session?</span>
    <span slot="content" class="block text-left">Session will be deleted from history, this cannot be undone.</span>
<div slot="actions">
    <AppButton Type="AppButtonType.Text"  OnClick="()=>{_deleteDialog?.Close();}">Cancel</AppButton>
    <AppButton Type="AppButtonType.Text"  OnClick="DeleteSession">Delete</AppButton>
    </div>
</Dialog>

@code
{

    private IReadOnlyList<Session> _latestSessions = new List<Session>();
    private Session? _selectedSession;
    private Dialog? _deleteDialog;

    private async void DeleteSession()
    {
        if (_selectedSession == null)
        {
            return;
        }
        Dispatcher.Dispatch(new DeleteSessionAction(_selectedSession));
        _selectedSession = null;
        _deleteDialog?.Close();
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();
    }

    private void HandleSessionClick(Session session)
    {
        Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.HistorySession, session));
        NavigationManager.NavigateTo("/history/edit");
    }

    protected override async Task OnInitializedAsync()
    {
        var sw = System.Diagnostics.Stopwatch.StartNew();
        Dispatcher.Dispatch(new SetPageTitleAction("History"));
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();
        await base.OnInitializedAsync();
        sw.Stop();
        Console.WriteLine($"History page initialized in {sw.ElapsedMilliseconds} ms");
    }
}
