@page "/history"
@using Fluxor
@using LiftLog.Ui.Services
@using LiftLog.Ui.Store.App
@using LiftLog.Ui.Store.CurrentSession
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject SessionService SessionService
@inject NavigationManager NavigationManager
@inject IState<CurrentSessionState> CurrentSessionState
@inject IDispatcher Dispatcher

<CardList Items="_latestSessions" OnClick="HandleSessionClick">
    <div class="grid grid-cols-[1fr,_min-content] grid-rows-1">
        <div class="mr-4 pr-4 border-outline-variant border-r ">
            <SessionSummary IsFilled="true" Session="context"></SessionSummary>
        </div>

        <div class="flex flex-col justify-around h-min gap-2">
            <AppButton Type="AppButtonType.Secondary" OnClick=@(() => DeleteSession(context))><span class="material-symbols-outlined">delete</span>️</AppButton>
        </div>
    </div>
</CardList>

@code
{

    private IReadOnlyList<Session> _latestSessions = new List<Session>();

    private async void DeleteSession(Session session)
    {
        Dispatcher.Dispatch(new DeleteSessionAction(session));
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();
    }

    private void HandleSessionClick(Session session)
    {
        if (CurrentSessionState.Value.Session != null)
        {
    // TODO - confirm ensure current session is saved
            Dispatcher.Dispatch(new PersistCurrentSessionAction());
        }
        Dispatcher.Dispatch(new SetCurrentSessionAction(session));
        NavigationManager.NavigateTo("/session");
    }

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new SetPageTitleAction("History"));
        this._latestSessions = await SessionService
            .GetLatestSessionsAsync()
            .ToListAsync();
        await base.OnInitializedAsync();
    }
}