@page "/post-session/{IdStr}"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject ProgressRepository ProgressRepository
@inject IDispatcher Dispatcher

@if (Session is not null)
{
    <div class="text-left">
        <h1 class="text-2xl">Congratulations!</h1>
        <span class="text-lg">You completed <span class="font-bold text-primary">@Session.Blueprint.Name!</span></span>
        <div>You hit the rep target on these exercises without failure!</div>
        <div > Next time you'll go heavier!</div>
    </div>
}

@code {
    [Parameter] public string? IdStr { get; set; }

    private Session? Session { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!Guid.TryParse(IdStr, out var id))
        {
            Dispatcher.Dispatch(new NavigateAction("/"));
            await base.OnInitializedAsync();
            return;
        }

        Dispatcher.Dispatch(new SetPageTitleAction("Session Summary"));
        Dispatcher.Dispatch(new SetReopenCurrentSessionAction(SessionTarget.WorkoutSession, false));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction(null));
        Session = await ProgressRepository.GetSessionAsync(id);
        if (Session is null)
        {
            Dispatcher.Dispatch(new NavigateAction("/"));
        }

        await base.OnInitializedAsync();
    }

}
