@page "/settings"
@inject NavigationManager NavigationManager

<div class="flex">
    <button @onclick="BackToIndex" class="m-1">&lt;</button><h3>Settings</h3>
</div>
<div class="flex flex-col p-2">
<section class="flex flex-col px-5 py-2 my-2">
    <span class="text-lg text-center mb-4">Data Management</span>
    <div class="flex justify-around">
    <AppButton @onclick=ImportData Type="AppButtonType.OutlineSecondary">
        Import Data
    </AppButton>
    <AppButton @onclick=ExportData Type="AppButtonType.OutlineSecondary">
        Export Data
    </AppButton>
    </div>
</section>
<section class="flex flex-col px-5">
    <AppButton  @onclick=NavigateToManage>
        Manage Workouts
    </AppButton>
</section>
</div>
@code {

    private void NavigateToManage()
    {
        NavigationManager.NavigateTo("/manage-workouts");
    }

    private void BackToIndex()
    {
        NavigationManager.NavigateTo("/");
    }

    private void ImportData()
    {
        NavigationManager.NavigateTo("/");
    }

    private void ExportData()
    {
        NavigationManager.NavigateTo("/");
    }
}