@using System.Text.RegularExpressions
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IState<CurrentSessionState> CurrentSessionState
@inject IState<AppState> AppState
@inject IState<FeedState> FeedState
@inject IState<SettingsState> SettingsState
@inject IDispatcher Dispatcher
@inject IThemeProvider ThemeProvider
@inject InsetsManager InsetsManager

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<nav class="flex flex-col bg-surface-container text-on-surface">
    <div class="flex justify-around py-3">
        <NavButton IsActive=@IsRouteMatch("(/$|^$|/session/?)") Navigate="NavigateToWorkout" Icon="fitness_center" Text="Workout"></NavButton>
        @if (SettingsState.Value.ShowFeed)
        {
            <NavButton IsActive=@IsRouteMatch("/feed(/?.*)") Navigate="NavigateToFeed" Icon="forum" Text="Feed" ShowBadge=@(FeedState.Value.FollowRequests.Any())></NavButton>
        }
        <NavButton IsActive=@IsRouteMatch("/stats(/?.*)") Navigate="NavigateToStats" Icon="analytics" Text="Stats"></NavButton>
        <NavButton IsActive=@IsRouteMatch("/history(/?.*)") Navigate="NavigateToHistory" Icon="history" Text="History"></NavButton>
        <NavButton IsActive=@IsRouteMatch("/settings(/?.*)") Navigate="NavigateToSettings" Icon="settings" Text="Settings"></NavButton>
    </div>
    <div style="height: @InsetsManager.SystemSafeInsetBottom"></div>
</nav>

@code {

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        InsetsManager.InsetsChanged += (_, _) => { InvokeAsync(StateHasChanged); };
        base.OnInitialized();
    }

    private bool IsRouteMatch(string routeMatchRegex)
    {
        var reg = new Regex(routeMatchRegex);
        var absPath = new Uri(NavigationManager.Uri).AbsolutePath;
        return reg.IsMatch(absPath);
    }

    private void NavigateToWorkout()
    {
        if (CurrentSessionState.Value.WorkoutSession != null
            && AppState.Value.ReopenCurrentSession
            && !IsRouteMatch("/session/?$"))
        {
            Dispatcher.Dispatch(new NavigateAction("/session"));
            StateHasChanged();
            return;
        }

        Dispatcher.Dispatch(new NavigateAction("/"));
        StateHasChanged();
    }

    private void NavigateToSettings()
    {
        if (AppState.Value.LatestSettingsUrl != null && !IsRouteMatch("/settings.*"))
        {
            Dispatcher.Dispatch(new NavigateAction(AppState.Value.LatestSettingsUrl));
            StateHasChanged();
            return;
        }
        Dispatcher.Dispatch(new NavigateAction("/settings"));
        StateHasChanged();
    }

    private void NavigateToFeed()
    {
        Dispatcher.Dispatch(new NavigateAction("/feed"));
        StateHasChanged();
    }

    private void NavigateToHistory()
    {
        Dispatcher.Dispatch(new NavigateAction("/history"));
        StateHasChanged();
    }

    private void NavigateToStats()
    {
        Dispatcher.Dispatch(new NavigateAction("/stats"));
        StateHasChanged();
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs locationChangedEventArgs)
    {
        if(locationChangedEventArgs.Location.Contains("settings")){
            Dispatcher.Dispatch(new SetLatestSettingsUrlAction(locationChangedEventArgs.Location));
        }
        InvokeAsync(StateHasChanged);
    }

    protected override void Dispose(bool disposing)
    {
        NavigationManager.LocationChanged -= LocationChanged;
        base.Dispose(disposing);
    }

}
