

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="fixed bottom-28 @ToastClass duration-150 transition-opacity pointer-events-none mx-auto flex flex-col items-center right-0 left-0 z-40">
    <div class="bg-tertiary-container text-on-tertiary-container text-center px-8 py-4 rounded-full">@ToastMessage</div>
</div>


@code {
    private string ToastClass = "opacity-0";
private string ToastMessage = "";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        SubscribeToAction<ToastAction>(ShowToast);
    }

    private void ShowToast(ToastAction action)
    {
        ToastClass = "opacity-100";
        ToastMessage = action.Message;
        StateHasChanged();
        Task.Delay(3000).ContinueWith(async _ => {
            ToastClass = "opacity-0";
            await InvokeAsync(StateHasChanged);
        });
    }
}
