<button class="w-12 h-12 text-white rounded-xl text-center flex justify-center align-middle transition-colors duration-75 items-center @BgClass @RepCountToStartClass" @onclick="CycleRepCount">
    <span class="font-bold">@(RepCountValue?.ToString()??"-")</span>
    <span class="text-xs inline align-text-top">/@MaxReps</span>
</button>

@code {

    [Parameter]
    public int MaxReps { get; set; }

    [Parameter]
    public int? RepCountValue { get; set; }

    [Parameter]
    public Action CycleRepCount { get; set; } = null!;

    [Parameter]
    public bool ToStartNext { get; set; }

    private string? BgClass => ToStartNext || RepCountValue is not null ? "bg-red-500" : "bg-gray-200";

    private string? RepCountToStartClass => ToStartNext ? "animate-pulse" : null;
}