<button class="w-12 h-12 text-white bg-red-500 rounded-xl text-center flex justify-center align-middle transition-colors duration-75 items-center @RepCountUnstartedClass @RepCountToStartClass" @onclick="CycleRepCount">
    <span class="font-bold">@(RepCountValue?.ToString()??"-")</span>
    <span class="text-xs inline align-text-top">/@MaxReps</span>
</button>

@code {

    [Parameter]
    public int MaxReps { get; set; }

    [Parameter]
    public int? RepCountValue { get; set; }

    [Parameter]
    public Action CycleRepCount { get; set; } = null!;

    [Parameter]
    public bool ToStartNext { get; set; }

    private string? RepCountUnstartedClass => RepCountValue is null ? "unstarted-rep-count" : null;

    private string? RepCountToStartClass => ToStartNext ? "to-start-rep-count" : null;
}