<div class="weighted-exercise">
  <div class="weighted-exercise-header">
    <span class="exercise-header">@RecordedExercise.Blueprint.Name</span>
    <WeightDisplay
        Exercise="RecordedExercise"
        UpdateWeightForExercise="UpdateWeightForExercise"/>
  </div>
  <div class="flex gap-2">
    @{
      var repToStartNext = RecordedExercise.RecordedSets.IndexOf(null);
    }
    @foreach (var (set, i) in RecordedExercise.RecordedSets.IndexedTuples())
    {
      <RepCount @key=i MaxReps="RecordedExercise.Blueprint.RepsPerSet" CycleRepCount=@(() => CycleRepCountForSet(i)) RepCountValue=@set?.RepsCompleted ToStartNext=@(ToStartNext && repToStartNext == i) />
    }
  </div>
</div>
@code {
  [Parameter]
  public RecordedExercise RecordedExercise { get; set; } = null!;

  [Parameter]
  public bool ToStartNext { get; set; }

  [Parameter]
  public Action<int> CycleRepCountForSet { get; set; } = null!;

  [Parameter]
  public Action<decimal> UpdateWeightForExercise { get; set; } = null!;
}
