@using Fluxor;
@using LiftLog.Ui.Store.App;
@using LiftLog.Ui.Store.Settings;
@using LiftLog.Ui.Services;

@page "/settings/program-list"

@inject IDispatcher Dispatcher;
@inject IState<ProgramState> ProgramState
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if(ProgramState.Value.SavedPrograms.Any())
{
    <section class="text-left text-on-surface mb-4 flex flex-col">
        <h2 class="pl-4 text-xl font-bold">Saved Plans</h2>
        <md-list>
            @foreach (var (id, program) in ProgramState.Value.SavedPrograms.OrderBy(x=>x.Value.Name))
            {
                <ProgramListItem
                    class="animate-fade-zoom-in"
                    ProgramBlueprint="@program"
                    OnClick=@(() => OpenEditProgram(id))
                    BuiltIn=false/>
                <md-divider></md-divider>
            }
        </md-list>
    </section>
}

<section class="text-left text-on-surface">
    <h2 class="pl-4 text-xl font-bold">Built in Plans</h2>
    <md-list>
        @foreach (var program in BuiltInProgramService.BuiltInPrograms)
        {
            <ProgramListItem ProgramBlueprint="@program" OnClick=@(() => BeginSelectProgram(program)) BuiltIn=true/>
            @if (program != BuiltInProgramService.BuiltInPrograms.Last())
            {
                <md-divider></md-divider>
            }
        }
    </md-list>
</section>

<Dialog @ref="selectedProgramDialog">
    <span slot="headline">Select Program</span>
    @if (selectedProgram != null)
    {
        <span slot="content" class="block text-left">
            Would you like to use the program
            <span class="font-bold text-primary">@selectedProgram.Name</span>?<br/>This will replace the existing program.
        </span>
        <div class="flex gap-1" slot="actions">
            <AppButton Type="AppButtonType.Text" OnClick="() => selectedProgramDialog?.Close()">Close</AppButton>
            <AppButton Type="AppButtonType.Text" OnClick="SelectProgram">Select</AppButton>
        </div>
    }
</Dialog>



<FloatingBottomContainer>
    <Fab>
        <div class="flex flex-col gap-2 items-end">
            <FloatingButton variant="primary" has-icon OnClick="AddNewPlan" Label="Add Plan">
                <md-icon slot="icon">add</md-icon>
            </FloatingButton>
        </div>
    </Fab>
</FloatingBottomContainer>



@code {
    private ProgramBlueprint? selectedProgram;
    private Dialog? selectedProgramDialog;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new SetPageTitleAction("Programs"));
        Dispatcher.Dispatch(new FetchSavedProgramsAction());
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/settings"));
    }

    private void BeginSelectProgram(ProgramBlueprint program)
    {
        selectedProgram = program;
        selectedProgramDialog?.Open();
    }

    private async Task SelectProgram()
    {
        await selectedProgramDialog!.CloseWait();
        if (selectedProgram != null)
        {
            Dispatcher.Dispatch(new SetProgramSessionsAction(Guid.Empty, selectedProgram.Sessions));
            Dispatcher.Dispatch(new SetCurrentSessionAction(SessionTarget.WorkoutSession, null));
            Dispatcher.Dispatch(new NavigateAction("/"));
        }
    }

    private void AddNewPlan()
    {
        Dispatcher.Dispatch(
            new SavePlanAction(
                Guid.NewGuid(),
                new ProgramBlueprint(
                    Name: "New Plan",
                    ExperienceLevel: Experience.Beginner,
                    Tag: null,
                    DaysPerWeek: 0,
                    Sessions: [])));
    }

    private void OpenEditProgram(Guid id)
    {
        Dispatcher.Dispatch(new NavigateAction("/settings/manage-workouts?planId=" + id));
    }

}
