@page "/settings"
@using Fluxor
@using LiftLog.Ui.Services
@using LiftLog.Ui.Store.App
@using LiftLog.Ui.Store.Settings

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher
@inject IAppPurchaseService AppPurchaseService
@inject IState<SettingsState> SettingsState

<md-list class="text-left">
    <ListTitle Title="Configuration" />
    <md-list-item type="button" multi-line-supporting-text @onclick="NavigateToBackupAndRestore">
        <md-icon slot="start">settings_backup_restore</md-icon>
        <span slot="headline" >Backup and restore</span>
        <span slot="supporting-text">Create and export backups for transfering between devices</span>
    </md-list-item>
    <md-list-item type="button" multi-line-supporting-text @onclick="NavigateToProgramList">
        <md-icon slot="start">assignment</md-icon>
        <span slot="headline" >Manage plans</span>
        <span slot="supporting-text">Setup your workout plans</span>
    </md-list-item>

    <md-list-item type="button" multi-line-supporting-text @onclick="NavigateToAppConfiguration">
        <md-icon slot="start">settings</md-icon>
        <span slot="headline" >App Configuration</span>
        <span slot="supporting-text">Adjust weight units, theme, and other misc. settings</span>
    </md-list-item>

    <md-list-item type="button" multi-line-supporting-text @onclick="NavigateToNotifications">
        <md-icon slot="start">notifications</md-icon>
        <span slot="headline" >Notifications</span>
        <span slot="supporting-text">Adjust notification settings for rest timers</span>
    </md-list-item>
</md-list>
<ProFeatures/>


@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new SetPageTitleAction("Settings"));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction(null));
        base.OnInitialized();
    }

    private void NavigateToBackupAndRestore()
    {
        Dispatcher.Dispatch(new NavigateAction("/settings/backup-and-restore"));
    }

    private void NavigateToProgramList()
    {
        Dispatcher.Dispatch(new NavigateAction("/settings/program-list"));
    }

    private void NavigateToAppConfiguration()
    {
        Dispatcher.Dispatch(new NavigateAction("/settings/app-config"));
    }

    private void NavigateToNotifications()
    {
        Dispatcher.Dispatch(new NavigateAction("/settings/notifications"));
    }
}
