//
// Colors
//

// Override Bootstrap color systel colors

$blue: #2937f0;
$green: #406836;
$red: #f03a17;
$purple: #9f1ae2;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $red;
