@page "/settings"
@inject NavigationManager NavigationManager
<h1>Settings</h1>
<section class="flex flex-col w-full px-5">
    <div class="flex w-full justify-between">
        <span>Units of Weight</span>
        <select>
            <option>Kilograms</option>
            <option>Pounds</option>
        </select>
    </div>
    <button class="flex w-full bg-amber-300" @onclick=NavigateToManage>
        <h4>Manage Workouts</h4>
    </button>
</section>
@code {

    private void NavigateToManage()
    {
        NavigationManager.NavigateTo("/manage-workouts");
    }
}