@page "/settings"
@inject NavigationManager NavigationManager

<div class="flex">
    <button @onclick="BackToIndex" class="m-1">&lt;</button><h3>Settings</h3>
</div>
<section class="flex flex-col w-full px-5">
    <AppButton  @onclick=NavigateToManage>
        <h4>Manage Workouts</h4>
    </AppButton>
</section>
@code {

    private void NavigateToManage()
    {
        NavigationManager.NavigateTo("/manage-workouts");
    }

    private void BackToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
}