@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="number"]{
  @apply p-2 border-b rounded-sm caret-primary bg-surface-container-highest text-on-surface border-on-surface-variant focus:border-primary focus:outline-none;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(Material-icons-outlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
