<Card OnClick="@(_ => OnClick())" IsHighlighted="true">
    <div>
        <md-icon class="text-5xl h-12 w-12">add</md-icon>
    </div>
    <span class="text-sm">
        Add Exercise
    </span>
</Card>

@code
{
    [Parameter] [EditorRequired] public Action OnClick { get; set; } = null!;
}