@*Source: https://flowbite.com/docs/components/buttons/#default-button*@
@switch (Type)
{
    case AppButtonType.FloatingPrimary:
        <button @onclick:stopPropagation="true" @onclick:preventDefault="true"  class="ripple-on-click px-5 py-2.5 font-medium bg-primary shadow-sm hover:shadow-md transition-all text-on-primary rounded-full text-sm" @onclick="OnClick">
            @ChildContent
        </button>
        break;
    case AppButtonType.Primary:
        <button @onclick:stopPropagation="true" @onclick:preventDefault="true"  class="ripple-on-click px-5 py-2.5 font-medium bg-primary hover:shadow-sm transition-all text-on-primary rounded-md text-sm" @onclick="OnClick">
            @ChildContent
        </button>
        break;
    case AppButtonType.Secondary:
        <button  @onclick:stopPropagation="true" @onclick:preventDefault="true"  class="ripple-on-click px-5 py-2.5 font-medium bg-secondary-container hover:shadow-sm transition-all text-on-secondary-container rounded-md text-sm"  @onclick="OnClick">
            @ChildContent
        </button> break;
    case AppButtonType.OutlineSecondary:
        <button  @onclick:stopPropagation="true" @onclick:preventDefault="true"  class="ripple-on-click px-5 py-2.5 border border-outline rounded-md bg-surface-container font-medium  text-on-surface hover:bg-surface-container-highest focus:outline-none focus:shadow-none text-sm"  @onclick="OnClick">
            @ChildContent
        </button>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}
@code {

    [EditorRequired]
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public AppButtonType Type { get; set; } = AppButtonType.Primary;
}
