@*Source: https://flowbite.com/docs/components/buttons/#default-button*@
@switch (Type)
{
    case AppButtonType.FloatingPrimary:
        <button disabled=@Disabled @onclick:stopPropagation="true" @onclick:preventDefault="true" class="pointer-events-auto @Aspect @Padding font-medium bg-primary shadow-sm hover:shadow-md transition-all text-on-primary @Rounding text-sm" @onclick="OnClick">@ChildContent</button>
        break;
    case AppButtonType.Primary:
        <button disabled=@Disabled @onclick:stopPropagation="true" @onclick:preventDefault="true" class="pointer-events-auto @Aspect @Padding font-medium bg-primary hover:shadow-sm transition-all text-on-primary @Rounding text-sm" @onclick="OnClick">@ChildContent</button>
        break;
    case AppButtonType.Secondary:
        <button disabled=@Disabled @onclick:stopPropagation="true" @onclick:preventDefault="true" class="pointer-events-auto @Aspect @Padding font-medium bg-secondary-container hover:shadow-sm transition-all text-on-secondary-container @Rounding text-sm" @onclick="OnClick">@ChildContent</button>
        break;
    case AppButtonType.OutlineSecondary:
        <button disabled=@Disabled @onclick:stopPropagation="true" @onclick:preventDefault="true" class="pointer-events-auto @Aspect @Padding border border-outline @Rounding bg-surface-container font-medium  text-on-surface hover:bg-surface-container-highest focus:outline-none focus:shadow-none text-sm" @onclick="OnClick">@ChildContent</button>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}


@code {

    [EditorRequired]
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public AppButtonType Type { get; set; } = AppButtonType.Primary;

    [Parameter]
    public bool FullRound { get; set; }

    [Parameter]
    public bool FullSquare { get; set; }

    [Parameter]
    public bool NoPadding { get; set; }

    [Parameter]
    public bool LargeRound { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    private string Rounding => FullRound ? "rounded-full aspect-square" : LargeRound ? "rounded-xl": "rounded-md";

    private string Aspect => FullSquare ? "aspect-square" : "";
    private string Padding => NoPadding ? "" : "px-5 py-2.5";
}
