@typeparam TItem
<div class="flex flex-col gap-2">
@foreach (var item in Items)
{
    <Card OnClick=@(() => OnClick?.Invoke(item))>
        @ChildContent(item)
    </Card>
}
</div>

@code
{
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = null!;

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; } = null!;

    [Parameter]
    public Action<TItem>? OnClick { get; set; }
}
