<div class="p-5 border border-outline-variant rounded-card bg-surface-container-low text-on-surface" @onclick="OnClick" >@ChildContent</div>
@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; } = null!;

  [Parameter]
  public EventCallback<MouseEventArgs> OnClick { get; set; }
}
