@if (Item is SessionFeedItem sessionFeedItem)
{
    <SplitCardControl>
        <TitleContent>
            <SessionSummaryTitle IsFilled="true" Session="sessionFeedItem.Session" />
        </TitleContent>
        <MainContent>
            <SessionSummary ShowSets=true Session="sessionFeedItem.Session"></SessionSummary>
            <span class="text-start mt-2"><LimitedHtml Value="@UiStrings.FeedUserCompletedAWorkout(User.DisplayName)" /></span>
        </MainContent>
    </SplitCardControl>
}


@code {
    [Parameter] [EditorRequired] public FeedItem Item { get; set; } = null!;

    [Parameter] [EditorRequired] public FeedUser User { get; set; } = null!;
}
