<SplitCardControl>
    <TitleContent>
        <div class="flex justify-between items-center">
            <ItemTitle Title="@(User.Name ?? "Anonymous User")" />\
            @if (User.AesKey is null)
            {
                <span class="text-xs text-tertiary">Awaiting Response</span>
            }
        </div>
    </TitleContent>
    <Actions>
        <IconButton Type="IconButtonType.Standard" OnClick="@DeleteUser" Icon="person_remove"/>
    </Actions>
    <MainContent>
        <div class="flex flex-col gap-4">
            <TextField Value=@(User.Nickname ?? "") OnChange="val => UpdateUser(User with { Nickname = val })" label="Nickname"/>

            @if (User.CurrentPlan is not [])
            {
                <AppButton Type="AppButtonType.Text" OnClick=ViewUserPlan>
                    View their plan
                </AppButton>
            }
        </div>
    </MainContent>
</SplitCardControl>


@code {
    [Parameter] [EditorRequired] public FeedUser User { get; set; } = null!;

    [Parameter] [EditorRequired] public Action<FeedUser> UpdateUser { get; set; } = null!;

    [Parameter] [EditorRequired] public Action DeleteUser { get; set; } = null!;

    [Parameter] [EditorRequired] public Action ViewUserPlan { get; set; } = null!;
}
