@if(Item is SessionFeedItem sessionFeedItem){
    <div class="flex flex-col gap-2 items-start">
        <span><span class="text-primary font-bold">@User.Name</span> completed a session!</span>
        <div class="w-full">
            <SessionSummary Session="sessionFeedItem.Session" IsFilled=true />
        </div>
    </div>
}


@code {
    [Parameter]
    [EditorRequired]
    public FeedItem Item { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public FeedUser User { get; set; } = null!;
}
