@if (Item is SessionFeedItem sessionFeedItem)
{
    <SplitCardControl>
        <TitleContent>
            <span><span class="text-primary font-bold">@(User.Nickname ?? User.Name ?? "Anonymous User")</span> completed a workout!</span>
            <SessionSummaryTitle IsFilled="true" Session="sessionFeedItem.Session" />
        </TitleContent>
        <MainContent>
            <SessionSummary ShowSets=true Session="sessionFeedItem.Session"></SessionSummary>
        </MainContent>
    </SplitCardControl>
}


@code {
    [Parameter] [EditorRequired] public FeedItem Item { get; set; } = null!;

    [Parameter] [EditorRequired] public FeedUser User { get; set; } = null!;
}
