<div @attributes=@AdditionalAttributes class="flex items-center @(AdditionalAttributes?.GetValueOrDefault("class"))">
    <IconButton Type="IconButtonType.Outlined" OnClick="Decrement" Icon="remove" />
    <span class="inline-block w-20 mx-2 text-center">@Value @Label</span>
    <IconButton Type="IconButtonType.Outlined" OnClick="Increment" Icon="add" />
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public int Value { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public Action Increment { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public Action Decrement { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; } = null!;
}
