<div class="sticky bottom-0 flex flex-col pointer-events-none mt-auto px-2 pt-2 gap-2  z-10">
    @if (Fab is not null)
    {
        <div class="flex justify-end w-full mt-2">
            @Fab
        </div>
    }
    @if (AdditionalContent is not null)
    {
        @AdditionalContent
    }
</div>

@code {
    [Parameter] public RenderFragment? Fab { get; set; } = null!;
    [Parameter] public RenderFragment? AdditionalContent { get; set; }
}
