<SplitCardControl>
    <TitleContent>
        <div class="flex flex-col gap-4">
            <span><span class="text-primary font-bold">@(User.Name ?? "Anonymous User")</span> is following you!</span>
        </div>
    </TitleContent>
    <MainContent>
        @if (ShowFollowBack)
        {
            <AppButton Type=AppButtonType.Text OnClick=@OnFollowBack>Follow @(User.Name ?? "Anonymous User") back</AppButton>
        }
    </MainContent>
    <Actions>
        <IconButton Type="IconButtonType.Standard" OnClick="@RemoveFollower" Icon="person_remove"/>
    </Actions>
</SplitCardControl>


@code {
    [Parameter] [EditorRequired] public FeedUser User { get; set; } = null!;

    [Parameter] [EditorRequired] public Action RemoveFollower { get; set; } = null!;

    [Parameter] [EditorRequired] public bool ShowFollowBack { get; set; } = false;

    [Parameter] [EditorRequired] public Action OnFollowBack { get; set; } = null!;
}
