@typeparam TItem
<div @attributes="AdditionalAttributes" class=" @(AdditionalAttributes?.GetValueOrDefault("class")) flex flex-col @VerticalPaddingClass itemlist">
    @foreach (var item in Items)
    {
        <div class="text-on-surface item" >
            @ChildContent?.Invoke(item)
        </div>
        <md-divider class="last:hidden"></md-divider>
    }
</div>

@code
{
    [EditorRequired] [Parameter] public IEnumerable<TItem> Items { get; set; } = null!;

    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; } = null!;

    [Parameter] public bool VerticalPadding { get; set; } = true;

    [Parameter]
    public bool Dividers { get; set; } = true;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string VerticalPaddingClass => VerticalPadding ? "py-2" : "";
}
