
<span class="text-xl font-bold flex-shrink text-ellipsis max-w-full text-pretty overflow-hidden min-w-0 text-start">@Title</span>

@code {
    [Parameter][EditorRequired] public string Title { get; set; } = null!;
}
