@typeparam TItem
<div @attributes="AdditionalAttributes" class=" @(AdditionalAttributes?.GetValueOrDefault("class")) flex flex-col gap-2 py-2">
    @for (var i = 0; i < Items.Count; i++)
    {
        <div>
            @ChildContent?.Invoke(Items[i])
        </div>
        @if(i < Items.Count - 1){
            <md-divider></md-divider>
        }
    }
</div>

@code
{
    [EditorRequired] [Parameter] public IReadOnlyList<TItem> Items { get; set; } = null!;

    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
