<span>
@foreach(var (isHighlighted, text, insertBrBefore) in ParseLimitedHtml())
{
    if (insertBrBefore)
    {
        <br />
    }
    if (isHighlighted)
    {
        <span class="@HighlightClass">@text</span>
    }
    else
    {
        <span>@text</span>
    }
}
</span>

@code
{
    [Parameter] [EditorRequired] public string Value { get; set; } = null!;

    [Parameter] public string HighlightClass { get; set; } = "font-bold text-primary";
}
