<div class="flex flex-col justify-center my-auto gap-4 text-on-surface">
    <div>
        <md-circular-progress aria-label="Loading" indeterminate four-color></md-circular-progress>
    </div>
    <span>
        @if(ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <p>@(LoadingText ?? UiStrings.GenericLoading)</p>
        }
    </span>
</div>

@code {
    [Parameter]
    public string? LoadingText { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
