<md-menu-item @attributes="AdditionalAttributes" @onclick="() => OnClick()" @onclick:stopPropagation=true @onclick:preventDefault=true>
    @if(Icon is not ""){<md-icon slot="start">@Icon</md-icon>}
    <div slot="headline">@Label</div>
</md-menu-item>

@code {
    [EditorRequired] [Parameter] public string Icon { get; set; } = null!;
    [EditorRequired] [Parameter] public string Label { get; set; } = null!;
    [EditorRequired] [Parameter] public Action OnClick { get; set; } = null!;
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
