<li @onclick="() => OnClick()" class="relative flex gap-2 p-4 rounded-md cursor-default">
    <md-ripple></md-ripple>
    <md-icon>@Icon</md-icon>
    @Label
</li>

@code {
    [EditorRequired][Parameter] public string Icon { get; set; } = null!;
    [EditorRequired][Parameter] public string Label { get; set; } = null!;
    [EditorRequired][Parameter] public Action OnClick { get; set; } = null!;
}
