<button class="flex flex-col items-center" @onclick="Navigate"><span class="transition-all bg-[length:200px_100px] material-symbols-outlined w-16 py-1 rounded-full @ClassForActiveRouteIcon">@Icon</span><span class="@ClassForActiveRouteText text-sm">@Text</span></button>

@code
{
    [EditorRequired]
    [Parameter]
    public bool IsActive { get; set; }

    [EditorRequired]
    [Parameter]
    public Action Navigate { get; set; } = null!;
    
    
    [EditorRequired]
    [Parameter]
    public string Text { get; set; } = null!;
    
    [EditorRequired]
    [Parameter]
    public string Icon { get; set; } = null!;


    private string ClassForActiveRouteIcon => IsActive
        ? "bg-secondary-container text-on-secondary-container"
        : "text-on-surface-variant";
    
    private string ClassForActiveRouteText => IsActive
        ? "text-on-surface"
        : "text-on-surface-variant";

}
