<button class="relative flex flex-col items-center" @onclick="Navigate">
    <span class="w-16 pt-1 rounded-full @ClassForActiveRouteIcon relative">
        <span class="relative z-10"><md-icon filled="@IsActive">@Icon</md-icon></span>
        <span class="
            absolute
            @ClassForActiveRoutePill
            rounded-full
            bg-secondary-container
            z-0
            duration-150
            top-0
            left-0
            w-[100%]
            h-[100%]
            transition-all" ></span>

    </span>
    <span class="@ClassForActiveRouteText text-sm">@Text</span>
</button>

@code
{
    [EditorRequired]
    [Parameter]
    public bool IsActive { get; set; }

    [EditorRequired]
    [Parameter]
    public Action Navigate { get; set; } = null!;


    [EditorRequired]
    [Parameter]
    public string Text { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public string Icon { get; set; } = null!;


    private string ClassForActiveRouteIcon => IsActive
        ? "text-on-secondary-container"
        : "text-on-surface-variant";

    private string ClassForActiveRoutePill => IsActive
        ? "scale-x-100"
        : "scale-x-0";

    private string ClassForActiveRouteText => IsActive
        ? "text-on-surface"
        : "text-on-surface-variant";

}
