<div class="flex flex-col gap-2">
@foreach (var exercise in PreviousRecordedExercises)
{
    <div class="flex justify-between items-center">
        <span>@exercise.DateTime.Date.ToShortDateString()</span>
        <ExerciseSummary
            Exercise=exercise.RecordedExercise
            ShowSets=true
            ShowWeight=true
            ShowName=false />
    </div>
    <md-divider class="last:hidden"></md-divider>
}
</div>

@code {
    [EditorRequired] [Parameter] public ImmutableListValue<DatedRecordedExercise> PreviousRecordedExercises { get; set; } = null!;
}
