<button class="aspect-square rounded-xl text-center p-4 flex justify-center align-middle transition-colors duration-75 items-center @ColorClass @RepCountToStartClass" 
        @onclick="CycleRepCount">
    <span class="font-bold">@(RepCountValue?.ToString()??"-")</span>
    <span class="inline text-xs align-text-top">/@MaxReps</span>
</button>

@code {

    [EditorRequired]
    [Parameter]
    public int MaxReps { get; set; }

    [EditorRequired]
    [Parameter]
    public int? RepCountValue { get; set; }

    [EditorRequired]
    [Parameter]
    public Action CycleRepCount { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public bool ToStartNext { get; set; }

    private string ColorClass => ToStartNext || RepCountValue is not null ? "bg-primary text-on-primary" : "bg-secondary-container text-on-secondary-container";

    private string? RepCountToStartClass => ToStartNext ? "animate-pulse" : null;
}
