<button class="w-16 h-16 rounded-xl relative text-center text-xl flex justify-center align-middle transition-colors duration-75 items-center @ColorClass @RepCountToStartClass"
        @onclick="CycleRepCount"
        @onpointerdown="OnPointerDown"
        @onpointerleave="OnPointerLeave"
        @onpointerup="OnPointerUp">
    <md-ripple></md-ripple>
    <span class="font-bold">@(RepCountValue?.ToString() ?? "-")</span>
    <span class="inline text-sm align-text-top">/@MaxReps</span>
</button>
@code {

    private DateTime? _lastPointerDownTime;

    [EditorRequired]
    [Parameter]
    public int MaxReps { get; set; }

    [EditorRequired]
    [Parameter]
    public int? RepCountValue { get; set; }

    [EditorRequired]
    [Parameter]
    public Action CycleRepCount { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public Action ClearRepCount { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public bool ToStartNext { get; set; }

    private string ColorClass => ToStartNext || RepCountValue is not null ? "bg-primary text-on-primary" : "bg-secondary-container text-on-secondary-container";

    private string? RepCountToStartClass => ToStartNext ? "animate-pulse" : null;

    private void OnPointerDown(PointerEventArgs args){
        _lastPointerDownTime = DateTime.Now;
        Task.Delay(500).ContinueWith(_ => {
            if (_lastPointerDownTime is null || _lastPointerDownTime.Value.AddMilliseconds(500) > DateTime.Now) return;
            ClearRepCount();
        });
    }

    private void OnPointerLeave(PointerEventArgs args){
        _lastPointerDownTime = null;
    }

    private void OnPointerUp(PointerEventArgs args){
        _lastPointerDownTime = null;
    }

}
