<div class="flex items-center justify-between p-4 rounded-md shadow-md bg-inverse-surface text-inverse-on-surface">
    @if (Failed)
    {
        <span>Rest <span class="font-bold">@(Rest.FailureRest.ToString(TimespanFormatStr))</span></span>
    }
    else
    {

        <span>Rest between <span class="font-bold">@(Rest.MinRest.ToString(TimespanFormatStr))</span> and <span class="font-bold">@(Rest.MaxRest.ToString(TimespanFormatStr))</span></span>
    }
    <span class="font-bold">@(TimeSinceStart.ToString(TimespanFormatStr))</span>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public Rest Rest { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public DateTimeOffset StartTime { get; set; }

    [EditorRequired]
    [Parameter]
    public bool Failed { get; set; }

    private TimeSpan TimeSinceStart => DateTimeOffset.UtcNow - StartTime;

    private string InstructionsText =>
        Failed
        ? $"Rest {Rest.FailureRest:m\\:ss}."
        : Rest.MinRest == Rest.MaxRest
            ? $"Rest {Rest.MinRest:m:ss}"
            : $"Rest between {Rest.MinRest:m\\:ss} and {Rest.MaxRest:m\\:ss}";

}
