<div class="relative flex flex-col rounded-full
            text-on-surface">
    <input type="text"
        id="@ControlId"
        class="
            form-control
            rounded-full
            bg-surface-container-high px-12 py-4
            placeholder-on-surface-variant
            focus:outline-none focus:border-none"
        placeholder="Search"
        @bind="SearchTerm"
        @oninput="e=>OnSearch.InvokeAsync(e.Value as string)" >
    </input>
    <md-icon class="absolute top-4 left-4">search</md-icon>
    @if(!string.IsNullOrWhiteSpace(SearchTerm))
    {
        <IconButton OnClick=@(e=>OnSearch.InvokeAsync("")) Type="IconButtonType.Standard" Icon="close" class="absolute top-2 right-2"/>
    }
    <md-ripple></md-ripple>
    <md-focus-ring for="@ControlId"></md-focus-ring>
</div>

@code {
    private string ControlId = "a"+Guid.NewGuid().ToString().Replace("-", "");

    [Parameter]
    public string SearchTerm { get; set; } = "";

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
}
