@inject IJSRuntime JsRuntime
@typeparam T

@switch(TextFieldType){
    case TextFieldType.Outlined:
        <md-outlined-select value=@Value @attributes="AdditionalAttributes" @onchange="e=>ValueChanged.InvokeAsync(e.Value)" >
            @foreach (var option in Options)
            {
                <md-select-option value="@option.Value">
                    <div slot="headline">@option.Title</div>
                </md-select-option>
            }
        </md-outlined-select>
        break;
    case TextFieldType.Filled:
        <md-filled-select value=@Value @attributes="AdditionalAttributes" @onchange="e=>ValueChanged.InvokeAsync(e.Value)">
            @foreach (var option in Options)
            {
                <md-select-option value="@option.Value">
                    <div slot="headline">@option.Title</div>
                </md-select-option>
            }
        </md-filled-select>
        break;
    default:
        throw new ArgumentOutOfRangeException(nameof(TextFieldType), TextFieldType, null);

}


@code {
    [Parameter] [EditorRequired] public T Value { get; set; } = default!;

    [Parameter] [EditorRequired] public List<SelectOption> Options { get; set; } = null!;

    [Parameter] [EditorRequired] public EventCallback<T> ValueChanged { get; set; }

    [Parameter] public TextFieldType TextFieldType { get; set; } = TextFieldType.Outlined;

    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    public record SelectOption(string Title, T Value);
}
