@using System.Globalization

<div class="flex justify-between mb-4">
    <span class="text-xl">@Session.Blueprint.Name</span>
    @if (IsFilled)
    {
        <span class="text-lg">@FormattedDate</span>
    }
</div>

@foreach (var exercise in Session.RecordedExercises)
{
    <div class="flex justify-between w-full">
        <span>@exercise.Blueprint.Name</span>
        <WeightFormat Weight="@exercise.Weight" />
    </div>
}

@code
{
    [EditorRequired]
    [Parameter]
    public Session Session { get; set; } = null!;

    [Parameter]
    public bool IsFilled { get; set; }

    private string FormattedDate => Session.Date.Year == DateTime.Now.Year
        ? Session.Date.ToString("M", CultureInfo.InvariantCulture)
        : Session.Date.ToString("M", CultureInfo.InvariantCulture) + " " + Session.Date.Year;
}
