
<div class="flex flex-col gap-y-2 text-start" data-cy="session-summary">
    @foreach (var exercise in Session.RecordedExercises)
    {
       <ExerciseSummary
            Exercise=exercise
            IsFilled=IsFilled
            ShowName=true />
        <md-divider class="last:hidden"></md-divider>
    }
</div>

@code
{
    [EditorRequired] [Parameter] public Session Session { get; set; } = null!;


    [Parameter] public bool IsFilled { get; set; } = true;
}
