<Card Type="Card.CardType.Filled">
    <div class="flex flex-col gap-1 items-center justify-center h-full">
        <span class="text-tertiary font-bold text-xl">
        @Body
        </span>
        <span class="text-sm">@Title</span>
    </div>
</Card>

@code {

    [Parameter] [EditorRequired] public RenderFragment Title { get; set; } = null!;

    [Parameter] [EditorRequired] public RenderFragment Body { get; set; } = null!;

}
