<div class="snackbar p-4 rounded-md shadow-md pointer-events-auto bg-inverse-surface text-inverse-on-surface animate-fade-zoom-in">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
