<div class="flex flex-col" >
    <div class="flex justify-between gap-4">
        @TitleContent
        <div class="flex ml-2 items-start -mt-2 -mr-2">
            @Actions
        </div>
    </div>
    <div class="flex flex-col pr-2">
        @MainContent
    </div>
</div>

@code
{
    [Parameter] public RenderFragment? TitleContent { get; set; }
    [Parameter] public RenderFragment? MainContent { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }
}
