<Dialog @ref=_dialog>

    <span slot="headline">Replace current session</span>
    <span slot="content" class="block text-left">There is already a current session in progress, start a new one without
        saving?</span>
    <div slot="actions">
        <AppButton Type="AppButtonType.Text">Cancel</AppButton>
        <AppButton Type="AppButtonType.Text">Replace</AppButton>
    </div>

</Dialog>

@code {
    private Dialog? _dialog;
    [Parameter]
    [EditorRequired]
    public uint? Seed { get; set; }

    [Parameter]
    [EditorRequired]
    public ThemePreference ThemePreference { get; set; }

    [Parameter]
    [EditorRequired]
    public Action<(uint? Seed, ThemePreference ThemePreference)> OnUpdateTheme { get; set; } = null!;

    public void Open()
    {
        _dialog?.Open();
    }
}
