<span>
    @FormatTimeSpan(TimeSpan, TruncateToMins)
</span>

@code {
    [EditorRequired] [Parameter] public TimeSpan TimeSpan { get; set; }
    [Parameter] public bool TruncateToMins { get; set; } = false;
    static string FormatTimeSpan(TimeSpan timeSpan, bool truncateToMins)
    {
        if (truncateToMins)
        {
            return $"{Math.Floor(timeSpan.TotalMinutes)} mins";
        }
        if (timeSpan.TotalHours >= 1)
        {
            return $"{timeSpan.TotalHours:F1} hrs";
        }
        else if (timeSpan.TotalMinutes >= 1)
        {
            return $"{timeSpan.TotalMinutes:F1} mins";
        }
        else
        {
            return $"{timeSpan.TotalSeconds:F1} secs";
        }
    }
}