<div>
    <AppButton class="text-lg" data-cy="weight-display" Type="AppButtonType.Text" OnClick="OnOpenClick">
        <WeightFormat Weight="Weight"/>
    </AppButton>

    @if (!IsReadonly)
    {
        <WeightDialog
            @ref="dialog"
            Weight="Weight"
            Label="@Label"
            UpdateWeight="UpdateWeight"
            Increment="Increment"
            AllowNull="AllowNull"/>
    }
</div>

@code {

    private WeightDialog? dialog;

    [EditorRequired] [Parameter] public decimal? Weight { get; set; } = null!;

    [Parameter] public string Label { get; set; } = "Weight";

    [EditorRequired] [Parameter] public decimal Increment { get; set; } = 2.5m;

    [EditorRequired] [Parameter] public Action<decimal?> UpdateWeight { get; set; } = null!;

    [Parameter] public bool IsReadonly { get; set; } = false;

    [Parameter] public bool AllowNull { get; set; } = false;

    private void OnOpenClick()
    {
        dialog?.Open();
    }

}
