<div>
    <AppButton Type="AppButtonType.OutlineSecondary" OnClick="OnOpenClick">
        <WeightFormat Kilograms="Exercise.Kilograms"/>
    </AppButton>

    <Dialog
        @ref="dialog"
        style="--md-dialog-container-max-block-size: 500px;"
    >
        <span slot="headline">Weight</span>
        <div  slot="content">
            <div  class="flex flex-col gap-2">
                <TextField label="Weight" required suffix-text="@WeightSuffix" TextFieldType="TextFieldType.Outline" Value=@(EditorWeight.ToString()) OnChange="HandleInputChange"  type="text" inputmode="decimal" step="@Increment" />
                <div class="flex justify-between">
                    <AppButton Type=AppButtonType.OutlineSecondary OnClick=OnWeightDecrementClick><md-icon slot="icon">remove</md-icon><WeightFormat Kilograms="Increment"  /></AppButton>
                    <AppButton Type=AppButtonType.OutlineSecondary OnClick=OnWeightIncrementClick><md-icon slot="icon">add</md-icon><WeightFormat Kilograms="Increment" /></AppButton>
                </div>
            </div>
        </div>
        <div slot="actions" class="flex gap-1" >
            <AppButton dialog-action="close" OnClick=OnCloseClick Type=AppButtonType.Text>Close</AppButton>
            <AppButton dialog-action="save" dialog-focus OnClick=OnSaveClick Type=AppButtonType.Text>Save</AppButton>
        </div>
    </Dialog>
</div>

@code {

    private Dialog? dialog;

    [EditorRequired]
    [Parameter]
    public RecordedExercise Exercise { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public Action<decimal> UpdateWeightForExercise { get; set; } = null!;

    [CascadingParameter(Name = "UseImperial")]
    public bool UseImperialUnits { get; set; }

    private decimal Increment => Exercise.Blueprint.KilogramsIncreaseOnSuccess == 0 ? 2.5m : Exercise.Blueprint.KilogramsIncreaseOnSuccess;

    private decimal EditorWeight { get; set; }

    private void OnOpenClick()
    {
        EditorWeight = Exercise.Kilograms;
        dialog?.Open();
    }

    private void OnCloseClick()
    {
        dialog?.Close();
    }

    private void OnSaveClick()
    {
        UpdateWeightForExercise(EditorWeight);
        dialog?.Close();
    }

    private void OnWeightIncrementClick()
    {
        EditorWeight += Increment;
    }

    private void OnWeightDecrementClick()
    {
        EditorWeight -= Increment;
    }

    private void HandleInputChange(string? value){
        if (decimal.TryParse(value, out var result))
        {
            EditorWeight = result;
        }
    }

    private string WeightSuffix => UseImperialUnits ? "lbs" : "kg";
}
