.weight-display-popup {
  display: none;
}

.weight-display-popup.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.weight-display-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weight-display-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weight-display-popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.weight-display-popup-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.weight-display-popup-label {
  font-size: 1.2rem;
}

.weight-display-popup-close {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.weight-display-button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.weight-display-weight-increment-buttons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
}
