.page {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "content";
  height: 100%;
}

.page nav {
  grid-area: "nav";
}

.page .content {
  grid-area: "content";
  overflow: auto;
}
