<div class="flex flex-col gap-2">
    <span>These tips will show up when there are new features you might not know about. You can disable them by navigating to Settings and toggling the <span class="font-bold text-primary">Show tips</span> switch.</span>
    <span>You can also see them all again by tapping the <span class="font-bold text-primary">Reset tips</span> button.</span>
</div>