<div class="flex">
    <span>These tips will show up when there are new features you might not know about. You can disable these tips by navigating to Settings and toggling the <span class="font-bold text-primary">Show tips</span> switch</span>
</div>
