<div class="flex flex-col gap-2">
    <span>The <span class="font-bold text-primary">Feed</span> is where you can share your workouts with your friends and see theirs!</span>
    <span>The content you share is end to end encrypted and private.</span>
    <span>You can disable the feed in <span class="font-bold text-primary">Settings</span>.</span>
</div>
