<div class="flex flex-col gap-2">
    <span>All buttons are safe to press, and their actions can generally be undone. If a button will modify state in a destructive way, a confirmation will be shown before executing the action.</span>
    <span>If you're unsure about what a button does, try tapping it!</span>
</div>
