<div class="flex gap-2">
    <span>You can click the <span class="font-bold text-primary">Notes</span> button on an exercise in any session to save some notes against that exercise.</span>
    <div>
        <IconButton Type="IconButtonType.Outlined" Icon="notes"/>
    </div>
</div>