<div class="flex gap-2">
    <span>If you hold the <span class="font-bold text-primary">Previous</span> button on an exercise during a session, that exercise will temporarily show how you performed the last time you completed it, along with a graph of your progression.</span>
    <div>
        <IconButton Type="IconButtonType.Outlined" Icon="history"/>
    </div>
</div>
