<div class="flex gap-2">
    <span>If you <span class="font-bold text-primary">hold</span> the <span class="font-bold text-primary">Previous</span> button on an exercise during a session, that exercise will temporarily show how you performed the last time you completed it, along with a graph of your progression. Try it now!</span>
    <div>
        <IconButton Type="IconButtonType.FilledTonal" Icon="history" OnStartHold=@(() => text = "Well done!") OnEndHold=@(()=>text = "")/>
    </div>
</div>
<div class="font-bold text-primary">
    @text
</div>
@code {
    string text = "";
}
