<div class="flex gap-2">
    <span>If you <span class="font-bold text-primary">tap</span> the <span class="font-bold text-primary">Previous</span> button on an exercise during a session, that exercise will show how you performed in the past. Try it now!</span>
    <div>
        <IconButton Type="IconButtonType.Standard" Icon="history" OnClick=@(() => text = "Well done!")/>
    </div>
</div>
<div class="font-bold text-primary">
    @text
</div>

@code {
    string text = "";
}
