<div class="flex gap-2">
    <span>Edited your plan, but want to restore a previous session you've completed? Just use history to open that session, then tap the <span class="font-bold text-primary">Update plan</span> button at the bottom.
</div>
