@inject IState<SettingsState> SettingsState
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent


@if (SettingsState.Value.ShowTips && SettingsState.Value.TipToShow <= totalTips)
{
    <Card class="flex flex-col gap-4" IsHighlighted=true>
        <div class="flex justify-between">
            <h1 class="text-xl">Tip</h1><AppButton Type="AppButtonType.OutlineSecondary" OnClick="() => HandleNextClick()">@NextText</AppButton>
        </div>
        @switch (SettingsState.Value.TipToShow)
        {
            case 1:
                <DisablingTipsTip/>
                break;
            case 2:
                <GeneralButtonInfoTip/>
                break;
            case 3:
                HandleNextClick();
                break;
            case 4:
                HandleNextClick();
                break;
            case 5:
                <PreviousButtonTip/>
                break;
            case 6:
                <RestoringASessionTip/>
                break;
            case 7:
                <FeedTip/>
                break;
            case 8:
                <WeightTip/>
                break;
            case 9:
                <HoldingRepCounterTip/>
                break;
            case 10:
                <PlainTextExportTip/>
                break;
            case 11:
                <DifferentWeightDropsetTip/>
                break;
        }
    </Card>
}

@code
{
    private static readonly int totalTips = 11;

    private void HandleNextClick()
    {
        Dispatcher.Dispatch(new SetTipToShowAction(SettingsState.Value.TipToShow + 1));
    }

    private string NextText => SettingsState.Value.TipToShow >= totalTips ? "Close" : "Next";
}
