@inherits LayoutComponentBase
<div class="page">
    <section class="content">
        @Body
    </section>
</div>

@RenderTailwindForDebug()

@code {

    /// <summary>
    /// Render the Tailwind CSS CDN for debug builds only
    /// </summary>
    RenderFragment? RenderTailwindForDebug()
    {
    #if DEBUG
        return @<script suppress-error="BL9992" src="https://cdn.tailwindcss.com"></script>;
    #else
        return null;
    #endif
    }
}
