@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="page">
    <section class="content">
        @Body
    </section>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        #if DEBUG
        if (firstRender)
        {
             await js.InvokeAsync<IJSObjectReference>("import", "./tailwind.js");
        }
        #else
        await base.OnAfterRenderAsync(firstRender);
        #endif
    }
}
