.workout-summary {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.exercise-summary {
    display: grid;
    margin-bottom: var(--margin-vert);
}

.exercise-summary .exercise-summary-short-name {
    grid-column: 1;
    margin-right: var(--margin-hor);
    overflow: hidden;
    text-overflow: ellipsis;
}

.exercise-summary ::deep > .weight-format {
    grid-column: 2;
    justify-self: end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exercise-summary-completed {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
