<div class="weighted-exercise">
  <div class="weighted-exercise-header">
    <span class="exercise-header">@Exercise.PlanExercise.Name</span>
    <WeightDisplay Exercise=Exercise />
  </div>
  <div class="weighted-exercise-list">
    @{
      var repToStartNext = Exercise.SetRepCounts.IndexOf(null);
    }
    @foreach (var (repCount, i) in Exercise.SetRepCounts.Select((repCount, i) => (repCount, i)))
    {
      <RepCount @key=i CycleRepCount=@(() => CycleRepCountForSet(i)) RepCountValue=@repCount ToStartNext=@(ToStartNext && repToStartNext == i) />
    }
  </div>
</div>
@code {
  [Parameter]
  public WorkoutWeightedExercise Exercise { get; set; } = null!;

  [Parameter]
  public bool ToStartNext { get; set; }

  [Parameter]
  public Action<int> CycleRepCountForSet { get; set; } = null!;
}
