<div class="border border-outline-variant m-2 p-5 rounded-card bg-surface-container-low text-on-surface" @onclick=onclick >@ChildContent</div>
@code {
  [Parameter]
  public RenderFragment ChildContent { get; set; } = null!;

  [Parameter]
  public EventCallback<MouseEventArgs> onclick { get; set; }
}
