@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"

<h1>Workouts:</h1>

@foreach (var (workoutPlan, i) in WorkoutSettingsState.Value.Plans.IndexedTuples())
{
    <AppButton @key=i @onclick=@(() => SelectWorkoutPlan(workoutPlan))>@workoutPlan.Name</AppButton>
}

<div class="next-workout">
    @if (NextWorkoutDay != null)
    {
        <WorkoutSummary
            WorkoutDay=NextWorkoutDay
            @onclick=@(() => SelectSession(new WorkoutDayDao(Guid.NewGuid(),NextWorkoutDay)))
            IsPreview=true />
    }
</div>
<div class="workout-summaries">
    @foreach (var (workoutDay, i) in _workouts.IndexedTuples())
    {
        <WorkoutSummary WorkoutDay=workoutDay.Day @onclick=@(()=>SelectSession(workoutDay)) />
    }
</div>
