@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/"

<h1>Workouts:</h1>

@foreach (var (workoutPlan, i) in WorkoutSettingsState.Value.Plans.IndexedTuples())
{
    <AppButton @key=i @onclick=@(() => SelectWorkoutPlan(workoutPlan))>@workoutPlan.Name</AppButton>
}

@foreach (var (workoutDay, i) in _workouts.IndexedTuples())
{
    <WorkoutSummary WorkoutDay=workoutDay.Day @onclick=@(()=>SelectSession(workoutDay)) />
}
