@using Fluxor;

@page "/feed/create-identity"

@inject IState<FeedState> FeedState
@inject IStringSharer StringSharer
@inject IDispatcher Dispatcher

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if(FeedState.Value.Identity == null)
{
    <div class="text-on-surface flex flex-col gap-4 p-4">
        <span class="text-lg">Create a new identity to start publishing!</span>
        <TextField Value="@name" label="Your name (optional)" OnChange=@((val)=>name = val) />
        <span class="text-sm">This will generate a new link which you can share with others.</span>
        <AppButton Type=AppButtonType.Text OnClick=StartPublishing>Start publishing</AppButton>
    </div>
}
else
{
    <div class="text-on-surface flex flex-col gap-4 p-4">
        <span class="text-lg">Share this link to let others track your progress!</span>

        <TextField Value="@name" label="Your name" OnChange=@((val)=>name = val) />
        <TextField Value="@GetShareUrl()" label="Share Link" readonly="readonly" OnClick="HandleShareUrlClick" />
        <span class="text-sm">Only those with the link can see what you've shared.</span>
        <AppButton Type=AppButtonType.Text OnClick=UpdatePublishingDetails>Update details</AppButton>
    </div>
}

@code
{
    private string name = "";
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new SetPageTitleAction("Start Publishing"));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/feed"));
        name = FeedState.Value.Identity?.Name ?? "";
        base.OnInitialized();
    }


    private string? GetShareUrl()
    {
        if(FeedState.Value.Identity == null)
            return null;
        var encryptionKey = FeedState.Value.Identity.EncryptionKey;
        return FeedPageUtils.GetShareUrl(FeedState.Value.Identity.Id, encryptionKey);
    }

    private void StartPublishing()
    {
        Dispatcher.Dispatch(new CreateFeedIdentityAction(Guid.NewGuid(), string.IsNullOrEmpty(name) ? null : name, null));
    }

    private void UpdatePublishingDetails()
    {
        Dispatcher.Dispatch(new UpdateFeedIdentityAction(string.IsNullOrEmpty(name) ? null : name, null));
    }

    private async Task HandleShareUrlClick()
    {
        var shareUrl = GetShareUrl();
        if(shareUrl == null)
            return;
        await StringSharer.ShareAsync(shareUrl);
    }
}
