@using Fluxor;

@page "/feed/share"

@inject IState<FeedState> FeedState
@inject IDeviceService DeviceService
@inject IJSRuntime JSRuntime
@inject IStringSharer StringSharer
@inject IDispatcher Dispatcher

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DeviceService.GetDeviceType() == DeviceType.Web && phoneOsFromUserAgent != DeviceType.Web)
{
    <Dialog @ref="_alertWebAppDialog" open>
        <span slot="headline">Download App</span>
        <span slot="content" class="block text-start">This content is better in the app. If you have the app installed and you are seeing this, please update LiftLog in your phone's app store.</span>
        <div slot="actions">
            <AppButton Type="AppButtonType.Text" OnClick="() => { _alertWebAppDialog?.Close(); }">Ignore</AppButton>
            <AppButton Type="AppButtonType.Text" OnClick="OpenAppStore">Open app store</AppButton>
        </div>
    </Dialog>
}

<Remote Value="FeedState.Value.SharedFeedUser" Retry="Fetch">
    <div class="text-on-surface flex flex-col justify-center gap-4 p-4 h-full">
        <TextField label="Give them a nickname?" Value=@(context.Nickname ?? "") OnChange="UpdateNickname"/>
        <span class="text-lg"><span class="font-bold text-primary">@ResolvedName</span> wants to share their workouts with you!</span>
        <span class="text-sm">Would you like to see their workouts in your feed? <span class="font-bold text-primary">@ResolvedName</span> will need to approve your request on their device.</span>
        <div class="grid grid-rows-2 gap-2">
            <AppButton Type=AppButtonType.Primary OnClick=HandleSureClick>Send follow request</AppButton>
            <AppButton Type=AppButtonType.Text OnClick=HandleNoThanksClick>No thanks</AppButton>
        </div>
    </div>
</Remote>


@code
{

    [SupplyParameterFromQuery(Name = "id")]
    public string? id { get; set; }

    [SupplyParameterFromQuery(Name = "name")]
    public string? Name { get; set; }

    private Dialog? _alertWebAppDialog;

    private DeviceType phoneOsFromUserAgent;

    protected override async Task OnInitializedAsync()
    {
        Dispatcher.Dispatch(new SetPageTitleAction("Subscribe to a feed"));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/feed"));
        if (FeedState.Value.Identity is null)
        {
            Dispatcher.Dispatch(new CreateFeedIdentityAction(null, null, false, false, false, FromUserAction: false));
        }
        else if (string.IsNullOrWhiteSpace(id))
        {
            Dispatcher.Dispatch(new NavigateAction("/feed"));
        }
        else
        {
            Fetch();
        }

        phoneOsFromUserAgent = await GetDeviceTypeFromUserAgent();
        await base.OnInitializedAsync();
    }

    private void Fetch()
    {
        if (string.IsNullOrWhiteSpace(id))
        {
            Dispatcher.Dispatch(new NavigateAction("/feed"));
            return;
        }
        Dispatcher.Dispatch(new FetchAndSetSharedFeedUserAction(id, Name));
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (FeedState.Value.SharedFeedUser.IsSuccess
            && FeedState.Value.FollowedUsers.ContainsKey(FeedState.Value.SharedFeedUser.Data.Id))
        {
            Dispatcher.Dispatch(new NavigateAction("/feed"));
        }
    }

    private string ResolvedName => string.IsNullOrEmpty(Name) ? "Anonymous User" : Name;

    private void HandleNoThanksClick()
    {
        Dispatcher.Dispatch(new SetSharedFeedUserAction(RemoteData.NotAsked));
        Dispatcher.Dispatch(new NavigateAction("/feed"));
    }

    private void HandleSureClick()
    {
        if (!FeedState.Value.SharedFeedUser.IsSuccess)
        {
            return;
        }

        Dispatcher.Dispatch(new RequestFollowUserAction());
        Dispatcher.Dispatch(new SetSharedFeedUserAction(RemoteData.NotAsked));
        Dispatcher.Dispatch(new NavigateAction("/feed"));
    }

    private void UpdateNickname(string value)
    {
        Dispatcher.Dispatch(
            new SetSharedFeedUserAction(FeedState.Value.SharedFeedUser.Map(x=>x with { Nickname = value })));
    }

    private void OpenAppStore()
    {
        switch (phoneOsFromUserAgent)
        {
            case DeviceType.Ios:
                Dispatcher.Dispatch(new NavigateAction("https://apps.apple.com/au/app/liftlog/id6467372581"));
                break;
            case DeviceType.Web:
                Dispatcher.Dispatch(new NavigateAction("https://play.google.com/store/apps/details?id=com.limajuice.liftlog"));
                break;
            default:
                break;
        }
    }

    private async Task<DeviceType> GetDeviceTypeFromUserAgent()
    {
        var os = await JSRuntime.InvokeAsync<string>("AppUtils.getOs");
        switch (os)
        {
            case "iOS":
                return DeviceType.Ios;
            case "Android":
                return DeviceType.Android;
            default:
                return DeviceType.Web;
        }
    }
}
