@using Fluxor;

@page "/feed/share"

@inject IState<FeedState> FeedState
@inject IStringSharer StringSharer
@inject IDispatcher Dispatcher
@inject NavigationManager NavigationManager

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if(FeedState.Value.SharedFeedUser != null)
{
    <div class="text-on-surface flex flex-col justify-center gap-4 p-4 h-full">
        <TextField label="Nickname" Value=@(FeedState.Value.SharedFeedUser.Nickname) OnChange="UpdateNickname" />
        <span class="text-lg"><span class="font-bold text-primary">@Name</span> wants to share their workouts with you!</span>
        <span class="text-sm">Would you like to see their workouts in your feed?</span>
        <div class="grid grid-cols-2 gap-2">
            <AppButton Type=AppButtonType.Text OnClick=HandleNoThanksClick>No thanks</AppButton>
            <AppButton Type=AppButtonType.Primary OnClick=HandleSureClick>Sure!</AppButton>
        </div>
    </div>
}
else
{
    <div class="flex flex-col justify-center h-full gap-4 text-on-surface ">
        <div><md-circular-progress aria-label="Session loading" indeterminate four-color></md-circular-progress></div>
        <span>
            <p>Loading User Info...</p>
        </span>
    </div>
}


@code
{
    [SupplyParameterFromQuery(Name="pub")]
    public string PublicKey { get; set; } = "";

    [SupplyParameterFromQuery(Name="id")]
    private Guid id { get; set; }
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new SetPageTitleAction("Subscribe to a feed"));
        Dispatcher.Dispatch(new SetBackNavigationUrlAction("/feed"));
        if(String.IsNullOrEmpty(PublicKey) || id == Guid.Empty)
        {
            NavigationManager.NavigateTo("/feed");
        }
        Dispatcher.Dispatch(new FetchSharedFeedUserAction(id, PublicKey.FromUrlSafeHexString()));
        base.OnInitialized();
    }

    private string Name => FeedState.Value.SharedFeedUser?.Name ?? "Someone";

    private void HandleNoThanksClick()
    {
        Dispatcher.Dispatch(new SetSharedFeedUserAction(null));
        NavigationManager.NavigateTo("/feed");
    }

    private void HandleSureClick()
    {
        if(FeedState.Value.SharedFeedUser == null)
        {
            return;
        }
        Dispatcher.Dispatch(new RequestFollowSharedUserAction(FeedState.Value.SharedFeedUser));
        Dispatcher.Dispatch(new SetSharedFeedUserAction(null));
        NavigationManager.NavigateTo("/feed");
    }

    private void UpdateNickname(string value)
    {
        if(FeedState.Value.SharedFeedUser == null)
        {
            return;
        }
        Dispatcher.Dispatch(new SetSharedFeedUserAction(FeedState.Value.SharedFeedUser with { Nickname = value }));
    }

}
