# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Android

on:
  push:
    branches-ignore: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Setup MAUI android
        run: dotnet workload install android
        # When running on a self hosted mac runner, the ios workload needs to be installed due to csproj configuration
      - name: Setup MAUI iOS
        if: ${{ runner.os == 'macOS' }}
        run: dotnet workload install ios
      - name: Setup MAUI
        run: dotnet workload restore
      - name: Restore dependencies
        run: dotnet restore -p:TargetFramework=net8.0-android
      - name: Setup Android SDK Tools
        uses: android-actions/setup-android@v2.0.10
      - name: Build Tailwind
        run: yarn && yarn build
        working-directory: ./LiftLog.Ui
      - name: Build
        run: dotnet build -p:TargetFramework=net8.0-android -f net8.0-android
        working-directory: ./LiftLog.App
