# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Release Android

on:
  workflow_dispatch:
    inputs:
      version_code:
        description: "Version code (e.g., 1.0.0)"
        required: true
        type: string
      release_notes:
        description: "Release notes to display in the store"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN_REACT}}
      EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY: ${{secrets.EXPO_REVENUECAT_GOOGLE_API_KEY}}

    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: npm
          cache-dependency-path: ./app/package-lock.json

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Setup Android SDK Tools
        uses: android-actions/setup-android@v3.2.2
      - name: Install
        run: npm ci
        working-directory: ./app
      - name: Put keystore
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        run: echo "${ANDROID_KEYSTORE_BASE64}" | base64 -d > liftlog.keystore
        working-directory: ./app/android/app
      - uses: mlilback/build-number@v1
        name: Set build number
        id: buildNumber
        with:
          base: 100
          run-id: ${{github.run_number}}

      - uses: burrunan/gradle-cache-action@v3
        name: Build Android AAB
        with:
          job-id: android
          arguments: bundleRelease
          build-root-directory: ./app/android

          gradle-version: wrapper
          properties: |
            ANDROID_UPLOAD_STORE_FILE=liftlog.keystore
            ANDROID_UPLOAD_STORE_PASSWORD=${{secrets.ANDROID_KEYSTORE_PASS}}
            ANDROID_UPLOAD_KEY_ALIAS=liftlog
            ANDROID_UPLOAD_KEY_PASSWORD=${{secrets.ANDROID_KEYSTORE_PASS}}
            DISPLAY_VERSION=${{ inputs.version_code }}
            BUILD_NUMBER=${{ steps.buildNumber.outputs.build-number }}

      - name: Create release notes directory
        run: mkdir -p release_notes

      - name: Write release notes
        run: echo "${{ inputs.release_notes }}" > release_notes/whatsnew-en-AU

      - name: Upload Android Release to Play Store
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          packageName: com.limajuice.liftlog
          releaseFiles: app/android/app/build/outputs/bundle/release/app-release.aab
          track: internal
          status: completed
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}
          whatsNewDirectory: release_notes
      - uses: burrunan/gradle-cache-action@v3
        name: Build Android APK
        with:
          job-id: android
          arguments: assembleRelease
          build-root-directory: ./app/android

          gradle-version: wrapper
          properties: |
            ANDROID_UPLOAD_STORE_FILE=liftlog.keystore
            ANDROID_UPLOAD_STORE_PASSWORD=${{secrets.ANDROID_KEYSTORE_PASS}}
            ANDROID_UPLOAD_KEY_ALIAS=liftlog
            ANDROID_UPLOAD_KEY_PASSWORD=${{secrets.ANDROID_KEYSTORE_PASS}}
            DISPLAY_VERSION=${{ inputs.version_code || github.event.release.name }}
            BUILD_NUMBER=${{ steps.buildNumber.outputs.build-number }}
      - name: upload binaries to release
        uses: softprops/action-gh-release@v2
        if: ${{startsWith(github.ref, 'refs/tags/') }}
        with:
          files: app/android/app/build/outputs/apk/release/app-release.apk
