# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
#src: https://www.andreasnesheim.no/setting-up-ci-for-your-net-maui-ios-app-with-github-actions/

name: Build iOS

on:
  push:
    branches-ignore: [main]
    paths:
      - app/**
      - .github/**

jobs:
  build:
    runs-on: macos-15
    env:
      SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN_REACT}}
      KEYCHAIN: job-${{ github.job }}-${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}

    steps:
      - uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4.0
      - name: Put distribution cert
        env:
          APPLE_DISTRIBUTION_CERT_P12_BASE64: ${{ secrets.APPLE_DISTRIBUTION_CERT_P12_BASE64 }}
        run: echo "${APPLE_DISTRIBUTION_CERT_P12_BASE64}" | base64 -d > liftlog.p12
      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v5
        with:
          p12-filepath: "liftlog.p12"
          p12-password: ${{ secrets.APPLE_DISTRIBUTION_CERT_PASS }}
          keychain: ${{ env.KEYCHAIN }}
      - name: Download Apple Provisioning Profiles
        id: provision
        uses: Apple-Actions/download-provisioning-profiles@v4
        with:
          bundle-id: "com.limajuice.liftlog"
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_PRIVATE_KEY }}
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: Install JS dependencies
        run: npm ci
        working-directory: ./app
      - name: Build JS bundle (optional)
        run: npx expo export --platform ios || echo "Skip if not needed"
        working-directory: ./app
      - name: Install CocoaPods dependencies
        run: |
          cd ios
          pod install
        working-directory: ./app
      - name: Archive iOS app
        run: |
          xcodebuild -workspace ios/LiftLog.xcworkspace \
            -scheme LiftLog \
            -sdk iphoneos \
            -configuration Release \
            -archivePath ios/build/App.xcarchive archive

        working-directory: ./app
