name: Build iOS

on:
  push:
    branches-ignore: [main]
    paths:
      - app/**
      - .github/**

jobs:
  build:
    runs-on: macos-15

    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN_REACT }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install JS dependencies
        working-directory: ./app
        run: npm ci

      - name: Build JS bundle (optional)
        working-directory: ./app
        run: npx expo export --platform ios || echo "Skipped"

      - name: Install CocoaPods
        working-directory: ./app
        run: |
          cd ios
          pod install

      - name: Build iOS app (simulator, no signing)
        working-directory: ./app
        run: |
          xcodebuild \
            -workspace ios/LiftLog.xcworkspace \
            -scheme LiftLog \
            -sdk iphonesimulator \
            -configuration Debug \
            -destination 'platform=iOS Simulator,name=iPhone 15'
