name: Build static site
on:
  push:
    branches-ignore: [main]
    paths:
      - "site/**"
      - ".github/workflows/static-site-build.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install
        run: npm ci
        working-directory: ./site
      - name: Build
        run: npm run build
        working-directory: ./site
