name: Test UI

on:
  push:
    paths:
      - backend/**
      - .github/**
      - app/**

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: liftlog
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      ConnectionStrings__UserDataContext: Host=localhost;Port=5432;Database=liftlog;Username=postgres;Password=password
      ConnectionStrings__RateLimitContext: Host=localhost;Port=5432;Database=liftlog;Username=postgres;Password=password
      OpenAiApiKey: "sk-123"
      WebAuthApiKey: "1234"
      GooglePlayServiceAccountEmail: "123"
      GooglePlayServiceAccountKeyBase64: "123"
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x
      - name: App Dependencies
        run: npm ci
        working-directory: ./app
      - name: Dependencies
        run: npm ci
        working-directory: ./tests/cypress-tests
      - name: Test
        uses: cypress-io/github-action@v6
        env:
          ELECTRON_ENABLE_LOGGING: 1
        with:
          start: npm run server-ci, npm run local-api
          wait-on: "http://localhost:8081, http://localhost:5264/health"
          working-directory: ./tests/cypress-tests
      - name: Upload screenshots
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-screenshots
          path: ./tests/cypress-tests/cypress/screenshots
