# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Test UI

on:
  push:
    branches-ignore: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
        working-directory: ./LiftLog.Web
      - name: Build Tailwind
        run: yarn && yarn build
        working-directory: ./LiftLog.Ui
      - name: Dependencies
        run: yarn
        working-directory: ./LiftLog.Cypress
      - name: Test
        uses: cypress-io/github-action@v6
        env:
          ELECTRON_ENABLE_LOGGING: 1
        with:
          start: yarn server-ci
          wait-on: http://localhost:5000
          working-directory: ./LiftLog.Cypress
      - name: Upload screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: ./LiftLog.Cypress/cypress/screenshots
