# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: UI Unit Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
        working-directory: ./tests/LiftLog.Tests.App
      - name: Build
        run: dotnet build
        working-directory: ./tests/LiftLog.Tests.App
      - name: Test
        run: dotnet test --no-restore --verbosity normal
        working-directory: ./tests/LiftLog.Tests.App
