# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
#src: https://www.andreasnesheim.no/setting-up-ci-for-your-net-maui-ios-app-with-github-actions/

name: Release Web

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Build Tailwind
        run: npm i && npm run build
        working-directory: ./LiftLog.Ui
      - name: Build UI # Seems that the typescript built files dont get copied to the publish folder unless we build the project first
        run: dotnet build -c Release
        working-directory: ./LiftLog.Ui
      - name: Build
        run: dotnet publish -c Release
        working-directory: ./LiftLog.Web
      - name: Copy 404 page
        run: cp ./404.html ./LiftLog.Web/bin/Release/net9.0/publish/wwwroot
      - name: List files recusively
        run: ls -R ./LiftLog.Web/bin/Release/net9.0/publish/wwwroot
      - name: Upload pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./LiftLog.Web/bin/Release/net9.0/publish/wwwroot
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
